# Firebase web options
FIREBASE_WEB_API_KEY=
FIREBASE_WEB_APP_ID=
FIREBASE_WEB_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_WEB_AUTH_DOMAIN=
FIREBASE_WEB_STORAGE_BUCKET=
FIREBASE_WEB_MEASUREMENT_ID=

# Firebase service account (for notification access token)
FIREBASE_SA_TYPE=service_account
FIREBASE_SA_PRIVATE_KEY_ID=
FIREBASE_SA_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_CONTENT\n-----END PRIVATE KEY-----\n
FIREBASE_SA_CLIENT_EMAIL=
FIREBASE_SA_CLIENT_ID=
FIREBASE_SA_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_SA_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_SA_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_SA_CLIENT_X509_CERT_URL=
FIREBASE_SA_UNIVERSE_DOMAIN=googleapis.com
